:root{
    --white-color: hsl(0, 0%, 100%);
    --lightGray-color: hsl(212, 45%, 89%);
    --grayishBlue-color: hsl(220, 15%, 55%);
    --darkBlue-color: hsl(218, 44%, 22%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


body{
    background-color: var(--lightGray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container{
    margin: auto;
    flex-direction: column;
    max-width: 325px;
    background-color: var(--white-color);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0px 23px rgba(192, 192, 192, 0.678);
}

.main-container .qr-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container .qr-container img{
    width: 100%;
    border-radius: 1rem;
}

.main-container .text-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.main-container .text-container h1{
    color: var(--darkBlue-color);
    font-weight: 700;
}

.main-container .text-container p{
    font-size: 15px;
    margin-top: 1rem;
    font-weight: 400;
    color: var(--grayishBlue-color);
}